<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Pabloacostatec-A01794035-/blob/main/Actividad_1_Semana_3_Juan_Pablo_Acosta_A001794035.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Actividad 1 Semana 3 Juan Pablo Acosta A001794035

In [59]:
#Define DB link
input = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

In [60]:
#Import pandas an use pandas to import db
import pandas as pd
import numpy as np

InitialDF = pd.read_csv(input)
InitialDF

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [61]:
#Verify that there are no lost values, this outputs a boolean for each column true in case they got any null value

InitialDF.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [62]:
#Count how many null values are in each column

InitialDF.isna().sum().sum()

196

In [63]:
#Drop the rows that overpass the treshold of null values, if you use the "axis" variable, it indicates it will apply the treshold to the column
ndf = InitialDF.copy()
ndf.dropna(thresh=3,inplace = True)#,axis = 1
ndf

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [104]:
#Get the indexes of the rows that got nulls for all columns

HeadersList = list(InitialDF.columns) #Gets a directory of all headers
HeadersList

AllRowsArray = []

for i in range(25): #This loop appends the rows that have a null value into the 'AllRowsArray
  MissingValuesIndex = np.where(InitialDF[HeadersList[i]].isnull())[0]
  AllRowsArray= np.append(AllRowsArray,MissingValuesIndex)
 # print(MissingValuesIndex)

from collections import Counter #This library lets me use AllRowsKeys

IndexesNumber = Counter(AllRowsArray).keys() # equals to list(set(words))
CountOfNulls= Counter(AllRowsArray).values() # counts the elements' frequency

RowsNullCounter = np.array([[IndexesNumber],[CountOfNulls]]) #Creates the final matrix that counts the index that has nulls and the amount of columns that has nulls

RowsNullCounter


#print(AllRowsArray)
#Get the in descending order all the rows that got null values


#b = InitialDF.iloc[2,5]
#b

array([[dict_keys([24365.0, 6227.0, 182.0, 219.0, 239.0, 24123.0, 29832.0, 29833.0, 17989.0, 18003.0, 160.0, 23990.0, 23991.0, 23992.0, 49.0, 233.0, 6268.0, 6269.0, 6270.0, 6382.0, 6383.0, 6384.0, 29733.0, 29734.0, 29735.0, 18.0, 29824.0, 29825.0, 6232.0, 17990.0, 6276.0, 6277.0, 6278.0, 175.0, 240.0, 38.0, 64.0, 173.0, 245.0, 246.0, 23943.0, 247.0])],
       [dict_values([21, 14, 1, 1, 1, 17, 10, 10, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 13, 13, 13, 6, 13, 13, 11, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1])]],
      dtype=object)